<div ng-controller="interfaceController">
  <!-- <div class="bugger-content">
    <div class="above-the-fold">
      
    
    <h1 class="creative-heading">hELLO wORLD!</h1>

    <section class="content-box input-container">
      <div class="content">
        <p>Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. </p>

        <form name="bugger-file-uploader" class="bugger-file-uploader">
          <fieldset class="form-group bugger-form-group">
            <input type="file" class="form-control-file bubber-file" id="exampleInputFile">
          </fieldset>
          <button type="submit" class="bugger-button bugger-upload-button">Submit</button>
        </form>

        <p>Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. Some dummy content here. </p>

      </div>
    </section>

    <section ng-if="is_processing" class="bugger-progress">
      <div class="content">
        <p>We are processing your request in background, please wait!!!</p>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{bugger_job_progress}}" aria-valuemin="0" aria-valuemax="{{bugger_job_count}}">
            <span class="sr-only">{{bugger_job_progress }}% Complete</span>
          </div>
        </div>

        <div class="progress-overview"><span class="counter">{{bugger_job_progress}}</span> processed out of <span class="counter">{{bugger_job_count}}</span></div>
      </div>
    </section>
    </div>

    <section class="bugger-result">
      <div class="result" ng-repeat="item in results">
        <div class="overview">
          <div class="preview-image">
            <img src="http://btesimages.s3.amazonaws.com/Wolfpack/wp_dontpassthebuck_orange_1.jpg" class="img-thumbnail">
          </div>
          
          <div class="title">
            <p>{{item.title}}</p>
            <small>{{item.sku_id}}</small>
          </div>

          <div class="status">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" ng-if="item.passed"></span>
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-if="!item.passed"></span>
          </div>
        </div>
      </div>
    </section>

  </div> -->


      <!--Preloader div-->
      <div class="preloader"></div>

      

      <header id="top" class="header">
          <div class="container">

              <!-- <div class="header_top-bg">
                  <div class="logo">
                      <a href="#">Bugger</a>
                  </div>
              </div> -->

              <h3 class="headline-support wow fadeInDown">Bugger</h3>
              <h1 class="headline wow fadeInDown" data-wow-delay="0.1s">INSPIRE. ERROR. REPEAT. </h1>

              <form name="bugger-file-uploader" class="bugger-file-uploader" action="create_bugger_job" enctype="multipart/form-data" method="post">
                <fieldset class="form-group bugger-form-group">
                  <input type="file" name="input_file" class="form-control-file bubber-file" id="bugger-input-file">
                </fieldset>
                <button type="submit" class=" btn btn-default btn-xl wow zoomIn">Submit</button>
              </form>

          </div>
          <!-- end .container -->
      </header>
      <footer>

      </footer>
</div>