<div ng-controller="resultController">
  <div class="preloader"></div>

  

  <header id="top" class="header">
      <div class="container">

          <!-- <div class="header_top-bg">
              <div class="logo">
                  <a href="#">Bugger</a>
              </div>
          </div> -->

          <h1 class="headline-support wow fadeInDown">Bugger</h1>
          <h2 class="headline wow fadeInDown" data-wow-delay="0.1s">Please wait! processing {{bugger_job_progress}} out of {{bugger_job_count}}</h2>

          <div class="poll_result">
            
          </div>

          <!-- <div class="when_where wow fadeIn" data-wow-delay="0.4s">
              <p class="event_when">August 21st - 22nd 2016</p>
              <p class="event_where">Stockholm, Sweden</p>
          </div> -->
          <div class="bugger-progress" ng-if="is_processing">
             <i class="fa fa-spinner fa-spin"></i>
          </div>
      </div>
      <!-- end .container -->
  </header>
  <!-- end .header -->

  <div class="highlight result-container" ng-repeat="item in results">
      <div class="container">

          <div class="row">
              <div class="col-sm-12">
                  <div class="contact-box bugger-result">
                      <div class="result" ng-click="toggle-errors()" >
                        <div class="overview">
                          <div class="preview-image">
                            <img src="http://btesimages.s3.amazonaws.com/Wolfpack/wp_dontpassthebuck_orange_1.jpg" class="img-thumbnail">
                          </div>
                          
                          <div class="title">
                            <p>{{item.title}}</p>
                            <small>{{item.sku_id}}</small>
                          </div>

                          <div class="status">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" ng-if="item.passed"></span>
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-if="!item.passed"></span>
                          </div>
                        </div>
                      </div>
                      <div class="bugger-errors" ng-if="!item.passed" id="{$index}">
                        <div class="bs-example">
                          <table class="table table-hover"> 
                            <thead> 
                              <tr> 
                                <th>#</th>
                                <th>Field</th> 
                                <th>Expected</th> 
                                <th>Actual</th>
                              </tr> 
                            </thead> 
                            <!-- Errors -->
                            <tbody ng-repeat="error in item.errors"> 
                              <tr> 
                                <th scope="row">1</th> 
                                <td>{{error.field}}</td> 
                                <td>{{error.expected}}</td> 
                                <td>{{error.actual}}</td> 
                              </tr>  
                            </tbody> 
                          </table>
                        </div>
                      </div>
                  </div>
              </div>
              
          </div>
          <!--  // end .row -->
      </div>
  </div>
  <!-- //  end .highlight -->

  <!-- 
   Footer Call to Action
   ====================================== -->

  <footer>
      <!-- <p> <small class="text-muted">Copyright © 2015. All rights reserved. Made in India</small></p> -->

  </footer>
</div>