<div ng-controller="resultController">
  <header id="top" class="header">
      <div class="container">

          <!-- <div class="header_top-bg">
              <div class="logo">
                  <a href="#">Bugger</a>
              </div>
          </div> -->

          <h3 class="headline-support wow fadeInDown">Bugger</h3>
          <h2 class="headline wow fadeInDown progress-headline" data-wow-delay="0.1s">Please wait! processing product no. {{results.length + 1}}</h2>

          <div class="poll_result" ng-if="all_passed">
            <i class="glyphicon glyphicon-ok-circle"></i>
            <p>Hurry! All is well</p>
          </div>

          <div class="poll_result" ng-if="not_all_passed">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <p>Something went crazy</p>
          </div>
          <div class="bugger-progress" ng-if="is_processing">
             <i class="fa fa-spinner fa-spin"></i>
          </div>
      </div>
  </header>

  <div class="highlight result-container" ng-repeat="item in results">
      <div class="container {{item.status}}">

          <div class="row">
              <div class="col-sm-12">
                  <div class="contact-box bugger-result">
                      <div class="result"  >
                        <div class="overview">
                          <div class="preview-image">
                            <img src="{{item.product_image_url || 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150' }}" class="img-thumbnail">
                          </div>
                          
                          <div class="title">
                            <h3><a href="{{item.product_page_url}}">{{item.product_title}}</a></h3>
                            <small>{{item.product_ref}}</small>
                          </div>

                          <div class="status">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" ng-if="!item.errors || item.errors.length == 0"></span>
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-if="item.errors && item.errors.length > 0"></span>
                          </div>
                        </div>
                      </div>
                      <div class="bugger-errors" ng-if="item.errors && item.errors.length > 0" id="{$index}">
                        <div class="bs-example">
                          <table class="table table-hover"> 
                            <thead> 
                              <tr> 
                                <th>#</th>
                                <th>Field</th>
                                <th>Type</th> 
                                <th>Expected</th> 
                                <th>Actual</th>
                              </tr> 
                            </thead> 
                            <!-- Errors -->
                            <tbody ng-repeat="error in item.errors"> 
                              <tr> 
                                <th scope="row">1</th> 
                                <td>{{error.key}}</td> 
                                <td>{{error.type}}</td colspan="{{(error.expected_value ? 3 : 2)}}"> 
                                <td>{{error.expected_value}}</td ng-if="error.expected_value"> 
                                <td>{{error.actual_value}}</td ng-if="error.actual_value"> 
                              </tr>  
                            </tbody> 
                          </table>
                        </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
  <input type="hidden" name="bugger_job_id" id="bugger_job_id" value="<%= @dj.id %>">
</div>