$body-bg: #0E9C5C;

$font-family-base: "adelle-sans",sans-serif;

$body-color: white;

$font-size-base: 20px;

$font-size-h1: 50px;
// $font-size-h2:            ;
// $font-size-h3:               ;
// $font-size-h4:              ;
// $font-size-h5:               ;
// $font-size-h6: